.calendar--container{
    width: 100%;
    height: 100%;
    padding: var(--Pad01);
    aspect-ratio: 3/2;
    background-color: var(--Blanco);
    overflow: hidden;
    justify-content: space-between;
    gap: var(--Pad01);
}

.scalloped {
    position: relative;

    --top: -13px;
    --left: 2px;

    --circle-size: 3px;
    --gap: 20px;
    --pattern-height: 20px;
}
    .scalloped::before {
        content: "";
        position: absolute;
        top: var(--top);
        left: var(--left);
        width: 100%;
        height: calc(var(--circle-size) + var(--pattern-height));
        background: radial-gradient(circle, var(--Negro) 50%, transparent 51%) repeat-x;
        background-size: calc(var(--circle-size) + var(--gap)) calc(var(--circle-size) + var(--gap));
    }
    .scalloped::after {
        content: "";
        position: absolute;
        bottom: var(--top);
        left: var(--left);
        width: 100%;
        height: calc(var(--circle-size) + var(--pattern-height));
        background: radial-gradient(circle, var(--Negro) 50%, transparent 51%) repeat-x;
        background-size: calc(var(--circle-size) + var(--gap)) calc(var(--circle-size) + var(--gap));
    }

    
    .calendar--container > div[class*="calendar--section"] {
        width: 100%;
        flex-grow: 1;
        position: relative;
        overflow: hidden;
    }
    .calendar--container > div[class*="middle"], div[class*="top"] {
        border-bottom: 2px dashed var(--Negro);
       
    }
    .calendar--container > div[class*="middle"]::after, div[class*="top"] {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

    }

    .top--calendar--section{
        color: var(--Negro);
        height: fit-content;
    }
        .top--calendar--section > *{
            color: var(--Negro);
            margin: 0;
        }
        .top--calendar--section > p{
            font-size: 1.5rem;
        }   
        .top--calendar--section > h4{
            font-size: 3rem;    
        }   

    .middle--calendar--section{
        height: 40%;
        min-height: 50%;
    }
        .calendar--table{
            width: 100%;
        }
        .calendar--table th, td{
            color: var(--Negro);
            text-align: center;
        }
        .calendar--table th{
            font-family: "Fredericka the Great", serif;
            font-style: normal;
            font-weight: bold;
        }
        .calendar--table td > p{
            font-family: "Shadows Into Light", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 1.2rem;
            margin: 0;
        }
        .calendar--table td[data-day="10"]{ 
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .calendar--table td[data-day="10"] > p{
                width: fit-content;
                position: relative;
                color: var(--Blanco);
                z-index: 5;
            }
            .calendar--table td[data-day="10"]::before{
                content: "â¤"; 
                transform: translate(-50%, -50%);
                position: absolute;
                top: 50%;
                left: 50%;
                color: red;
                font-size: 2rem;
                z-index: 1;
            }

    .bottom--calendar--section{
        color: var(--Negro);
        position: relative;
        height: 14%;
        min-height: 14%;
    }
    .bottom--calendar--section > p{
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
        transform: translate(-50%, -50%) rotate(-8deg);
        position: absolute;
        top: 50%;
        left: 50%;
    }