:host{
    --color01: #8C1C13;
    --color02: #05204A;
    --color03: #466060;
    --color04: #003844;
}

.chart--container{
    border-radius: var(--Pad01);
    background-color: var(--Blanco);
    gap: 1px;
}

.card--container{
    padding: 0;
    background-color: var(--Blanco);
    border-radius: var(--Pad01);
    justify-content: start;
    flex-wrap: nowrap;
}
    .item--card{
        width: 100%;
        flex-grow: 1;
        padding-inline: var(--Pad01);
        justify-content: start;
    }
        .item--card > p, small{
            color: var(--Negro);
            font-weight: bold;
            font-size: 0.8rem;
        }
        .item--card > small{
            opacity: 0.5;
        }
    .top--card{
        height: 10%;
        max-height: 15%;
        overflow: hidden;
        background-color: var(--Gris2);
        border: solid 1px var(--Gris);
        gap: 0.5rem;
    }
        .top--card > svg{
            width: auto;
            height: 1rem;
            aspect-ratio: 1/1;
        }

    .middle--card{
        height: 65%;
        max-height: 65%;
        border-bottom: solid 1px var(--Gris);
        padding: calc(var(--Pad01) / 2) var(--Pad01) ;
        align-items: start;
        flex-wrap: nowrap;
        flex-grow: 0;
    }
            .middle--card > *{
                width: 100%;
            }
            .graph--container{
                height: 100%;    
                position: relative;

                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(1, 1fr);
                gap: 6px;
                align-items: center;
            }
                .bar--graph{
                    position: relative;
                    width: 100%;
                    max-width: 90%;
                    height: 100%;
                    max-height: 90%;
                    border-radius: 2rem;
                    outline-offset: 2px; 
                    outline-width: 1px;
                    outline-style: solid;
                    outline-color: var(--Ginda);
                    background-color: var(--Ginda);
                    margin: auto auto 4px auto;          
                    corner-shape: squircle;
                }
                    .bar01{
                        height: 85%;
                        outline-color: var(--color01);
                        background-color:  var(--color01);
                    }
                    .bar02{
                        height: 70%;
                        outline-color: var(--color02);
                        background-color:  var(--color02);
                    }
                    .bar03{ 
                        height: 30%;
                        outline-color: var(--color03);
                        background-color:  var(--color03);
                    }
                    .bar04{
                        height: 60%;
                        outline-color: var(--color04);
                        background-color:  var(--color04);    
                    }

    .bottom--card{
        height: 20%;
        max-height: 20%;
        padding: 0 var(--Pad01) ;
        flex-grow: 0;
        justify-content: start;

    }
        .pill--graph{
            width: fit-content;
            height: auto;
            border-radius: 35px;
            overflow: hidden;
            font-size: 0.7rem;
            padding: 2px 6px;
            margin-right: 2px;
        }
            .pill01{
                background-color: var(--color01);
                color: var(--Blanco);
            }
            .pill02{
                background-color: var(--color02);
                color: var(--Blanco);
            }
            .pill03{
                background-color: var(--color03);
                color: var(--Blanco);
            }
            .pill04{
                background-color: var(--color04);
                color: var(--Blanco);
            }