:host{
    --color01: #8C1C13;
    --color02: #05204A;
    --color03: #466060;
    --color04: #003844;
}

.chart--container{
    border-radius: var(--Pad01);
    background-color: var(--Blanco);
    gap: 1px;
}

    .chart--container > div{
        width: 100%;
        flex-grow: 1;
    }
    .top--chart{
        height: fit-content;
        text-align: center;
        font-weight: bold;
    }
        .top--chart > *{
            font-weight: bold;
        }
    .graph--container{
        height: 50%;    
        position: relative;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 6px;
        align-items: center;
    }
        .bar--graph{
            position: relative;
            width: 100%;
            max-width: 90%;
            height: 100%;
            max-height: 90%;
            
            border-radius: 8px;
            outline-offset: 2px; 
            outline-width: 1px;
            outline-style: solid;
            outline-color: var(--Ginda);
            background-color: var(--Ginda);
            margin: auto auto 4px auto;            
        }
            .bar01{
                height: 40%;
                outline-color: var(--color01);
                background-color:  var(--color01);
            }
            .bar02{
                height: 60%;
                outline-color: var(--color02);
                background-color:  var(--color02);
            }
            .bar03{ 
                height: 100%;
                outline-color: var(--color03);
                background-color:  var(--color03);
            }
            .bar04{
                height: 80%;
                outline-color: var(--color04);
                background-color:  var(--color04);    
            }
    .titles--container{
        height: 25%;
        max-height: 25%;
        justify-content: start;
        align-items: end;
        gap: 3px;
    }
        .pill--graph{
            width: fit-content;
            height: auto;
            border-radius: 35px;
            overflow: hidden;
            border: solid 1px var(--Gris);
            background-color: var(--Blanco);
            color: var(--Negro);
            font-size: 0.7rem;
            padding: 2px 6px;
        }
        .pill01{
            background-color: var(--color01);
            color: var(--Blanco);
        }
        .pill02{
            background-color: var(--color02);
            color: var(--Blanco);
        }
        .pill03{
            background-color: var(--color03);
            color: var(--Blanco);
        }
        .pill04{
            background-color: var(--color04);
            color: var(--Blanco);
        }