.custom--container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #14080e7c;
    backdrop-filter: blur( var(--Pad01) );
    z-index: 10;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
    .alert--modal{
        width: auto;
        min-width: 500px;
        height: 5rem;
        padding: var(--Pad01);
        overflow: hidden;
        border-radius: var(--Pad01);
        
        position: absolute;
        top: -100px;
        opacity: 0;
        transform: translateX(-50%);
        left: 50%;
        text-align: center;
        
        gap: var(--Pad01);
        transition: all 0.5s ease-out;
    }
    .error--alert{
        border: solid 2px var(--Ginda);
        color: var(--Ginda);
        background-color: var(--Rojo2);
    }
        .error--alert > svg{
            stroke: var(--Ginda);   
        }
    .succes--alert{
        border: solid 2px var(--Verde);
        color: var(--Verde);
        background-color: var(--Verde2);
    }
        .succes--alert > svg{
            stroke: var(--Verde);   
        }

    .modal--container{
        width: auto;
        min-width: 500px;
        height: 60%;
        aspect-ratio: 1/1;
        background-color: var(--Blanco);
        padding: var(--Pad01);
        overflow: hidden;
        border-radius: var(--Pad01);
    }

    .card--container{
        padding: 0;
        background-color: var(--Blanco);
        border-radius: var(--Pad01);
        justify-content: start;
    }
    .item--card{
        width: 100%;
        flex-grow: 1;
        padding-inline: var(--Pad01);
        justify-content: start;
    }
        .item--card > p, small{
            color: var(--Negro);
            /*   */
            font-size: 0.8rem;
        }
        .item--card > small{
            opacity: 0.5;
        }
        
    .top--card{
        height: 10%;
        max-height: 10%;
        overflow: hidden;
        background-color: var(--Gris2);
        border: solid 1px var(--Gris);
        gap: 0.5rem;
    }
        .top--card > svg{
            width: auto;
            height: 1rem;
            aspect-ratio: 1/1;
        }

    .middle--card{
        height: auto;
        padding: calc(var(--Pad01) / 2) var(--Pad01) ;
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
            .middle--card > *{
                width: 100%;
                flex-grow: 1;
            }
            .input--container{
                width: 40%;
                flex-grow: 1;
                height: fit-content;
                justify-content: start;
                align-items: start;
            }
                .input--container > label{
                    font-size: 0.8rem;
                    margin-bottom: 5px;
                    opacity: 0.5;
                }
                .input--container > label > small{
                    font-size: 0.7rem;
                }
                .input--container > input{
                    width: 100%;
                    padding: 0.5rem var(--Pad01);
                    border-radius: 0.3rem;
                    border: solid 1px var(--Gris);
                }
                .w100{
                    width: 100%;
                }
        .btn--general{
            width: 40%;
            height: 4rem;
            max-height: 4rem;
            flex-grow: 1;
            border: solid 1px var(--Gris);
            background-color: var(--Gris2);
            color: var(--Negro);
            overflow: hidden;
            border-radius: 0.5rem;
            cursor: pointer;
            gap: 0.5rem;
        }
            .btn--general:hover{
                background-color: var(--Gris);
            }
            .btn--general > svg{
                width: 0.9rem;
                aspect-ratio: 1/1;
            }
            .btn--prin{
                background-color: var(--Negro);
                color: var(--Blanco);
            }
                .btn--prin > svg{
                    stroke: var(--Blanco);
                    color: var(--Blanco);   
                }
                .btn--prin:hover{
                    opacity: 0.8;
                    background-color: var(--Negro);
                    color: var(--Blanco);
                }
            .btn--link{

            }

/* ---------- Extra-small Screens ---------- */
@media screen and (max-width: 501px){
    .modal--container{
        width: 100%;
        min-width: auto;
        height: 100vh;
        aspect-ratio: 1/1;
        background-color: var(--Blanco);
        padding: 0;
        overflow: hidden;
        border-radius: var(--Pad01);
    }
}
/* ---------- Extra-small Screens ---------- */