@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --Negro: #14080E;
    --Blanco: #fff;
    --Gris: #b3b3b3;
}
:host{
    --Negro: #14080E;
    --Blanco: #fff;
    --Crema: #FCF7F8;
    --Gris: #CED3DC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--Blanco);
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
}

.d-flexx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.d-col{
    flex-direction: column;
}
.d-row{
    flex-direction: row;
}


.general--section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

}

.main--container{
    background-color: var(--Negro);
    padding: 2rem;

    
}
    .template--container--grid{
        width: auto;
        min-width: 700px;
        height: 85%;
        aspect-ratio: 1/1;
        border: solid 2px var(--Blanco);

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;
        padding: 1rem;
    }   
        .template--container--grid > [class^="grid"] {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            background-color: #b3b3b3;
        }
        .grid--letters{
            grid-column: 1 / 3;
            grid-row: 1 / 3;
        }
        .grid--calendar{
            grid-column: 3 / 5;
            grid-row: 1 / 3;
        }
        .grid--botton   {
            grid-column: 1 / 5;
            grid-row: 3 / 4;
        }