@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* :root{
    --Negro: #14080E;
    --Blanco: #fff;
    --Crema: #FCF7F8;
    --Gris: #CED3DC;
    --Rojo: #ff0000;
    --Ginda: #5A0E24;
    --Rosa: #76153C;
    --Cafe: #51331b;
    --Baige: #f7f4eb;

    --Pad01: 1rem;
    --Pad02: 2rem;
    --Pad03: 3rem;
} */
:host{
    --Negro: #14080E;
    --Blanco: #fff;
    --Gris: #CED3DC;
    --Rojo: #ff0000;
    --Ginda: #5A0E24;
    --Rosa: #76153C;
    --Cafe: #51331b;
    --Baige: #f7f4eb;

    --Pad01: 1rem;
    --Pad02: 2rem;
    --Pad03: 3rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    color: var(--Negro);
}

.d-flexx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.d-col{
    flex-direction: column;
}
.d-row{
    flex-direction: row;
}

.circle--icon{
    width: fit-content;
    height: auto;
    aspect-ratio: 1/1;
    background-color: var(--Blanco);
    color: var(--Negro);
    border-radius: 50%;
    border: solid 1px var(--Gris);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

/** ------ FONTS ------ */
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
.cutive-mono-regular {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.parisienne-regular {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}
.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}
/** ------ FONTS ------ */


.general--section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.main--container{
    background-color: var(--Negro);
    padding: var(--Pad02);
/* 
    background-color: #d20062;
    background-image: radial-gradient(at 60% 84%, #d20062 0%, transparent 60%), radial-gradient(at 2% 97%, #d6589f 0%, transparent 50%), radial-gradient(at 8% 91%, #d895da 0%, transparent 40%), radial-gradient(at 31% 68%, #c4e4ff 0%, transparent 30%); */
}
    .template--container--grid{
        width: auto;
        min-width: 700px;
        height: 85%;
        aspect-ratio: 1/1;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: var(--Pad01);
        padding: var(--Pad01);
    }   
        .template--container--grid > [class^="grid"] {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
        }
        .grid--time{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        .grid--chart{
             grid-column: 2 / 3;
            grid-row: 1 / 2;
            background-color: var(--Baige);
        }
        .grid--message{
            grid-column: 1 / 3;
            grid-row: 2 / 5;    
        }
        .grid--calendar{
            grid-column: 3 / 5;
            grid-row: 1 / 3;
        }
        .grid--music{
            grid-column: 3 / 5;
            grid-row: 3 / 4;
            background-color: #b3b3b3;
        }

        .general--container{
             width: 100%;
            height: 100%;
            padding: var(--Pad01);
            overflow: hidden;
        }