.message--container{
    background-color: var(--Cafe);
    border-radius: var(--Pad01);
}
    .message--container > div, article{
        width: 100%;
        background-color: var(--Baige);
    }
    .top--card{
        height: 5rem;
        max-height: 5rem;
        flex-wrap: nowrap;
        border-radius: var(--Pad01) var(--Pad01) 0 0;
    }
        .equal--space{
            width: 30%;
            height: 100%;
            flex-grow: 1;
            border-bottom: solid 1px var(--Gris);
        }
            .red--hand--text{
                color: var(--Rojo);
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
            }
            .equal--space > p {
                width: 100%;
                font-size: 0.8rem;
                position: relative;
            }
            .equal--space span {
                text-transform: capitalize;
                font-size: 1.5rem;                
            }

        .middle--section{
            border-inline: solid 1px var(--Gris);
            width: 40%;
        }
    .message--section{
        height: auto;
        flex-grow: 1;
        position: relative;
        border-radius: 0 0 var(--Pad01) var(--Pad01) ;
        background-image: linear-gradient(var(--Baige) 1.1rem, var(--Gris) 1px);
        background-size: 100% 1.2rem;
        padding: var(--Pad01);
        align-items: start;
        
    }
        .main--message{
            width: 100%;
            height: auto;
            font-size: 2.5rem;
            text-align: center;
            
            color: var(--Cafe);
            font-weight: 600;
        }
            .main--message > span{
                color: var(--Cafe);
                font-weight: bold;
                font-size: 2.5rem;
                

            }
        .footer--message{
            position: absolute;
            left: var(--Pad01);
            bottom: 0;
            text-transform: capitalize;
            font-size: 1.5rem;
        }