.message--container{
    width: 100%;
    height: 100%;
    padding: var(--Pad01);
    aspect-ratio: 3/2;
    background-color: var(--Cafe);
    overflow: hidden;    
    border-radius: var(--Pad01);
}
    .message--container > div, article{
        width: 100%;
        background-color: var(--Baige);
    }
    .top--card{
        height: 5rem;
        max-height: 5rem;
        flex-wrap: nowrap;
        border-radius: var(--Pad01) var(--Pad01) 0 0;
    }
        .equal--space{
            width: 30%;
            height: 100%;
            flex-grow: 1;
            border-bottom: solid 1px var(--Gris);
        }
            .red--hand--text{
                color: var(--Rojo);
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
            }
            .equal--space > p {
                width: 100%;
                font-size: 0.8rem;
            }
            .equal--space span {
                text-transform: capitalize;
                font-size: 1.5rem;
            }

        .middle--section{
            border-inline: solid 1px var(--Gris);
            width: 40%;
        }
    .message--section{
        height: auto;
        flex-grow: 1;
        position: relative;
        border-radius: 0 0 var(--Pad01) var(--Pad01) ;
        background-image: linear-gradient(var(--Baige) 1.1rem, var(--Gris) 1px);
        background-size: 100% 1.2rem;
        padding: var(--Pad01);
    }
        .footer--message{
            position: absolute;
            left: var(--Pad01);
            bottom: var(--Pad01);
            text-transform: capitalize;
            font-size: 1.5rem;
        }