.music--container{

}
    .sections--music{
        width: 40%;
        height: 100%;
        flex-grow: 1;
    }
    .cover--container{
        background-color: var(--Gris);
        overflow: hidden;
        border-radius: var(--Pad01);
        position: relative;
    }
        .cover--container > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
        .gardient{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background: linear-gradient(180deg, transparent 40%, var(--Negro) 100%);
        }
        .repoductor--container{
            width: 90%;
            height: auto;
            max-height: 40%;
            padding: var(--Pad01);
            border-radius: var(--Pad01);
            corner-shape: squircle;
            border: solid 1px var(--Gris);
            background-color: var(--Blanco);
             overflow: hidden;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;
        }
    .info--container{
        background-color: var(--Negro);
    }